<html>
    <header>
        <title>URL Shortner</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </header>

    <body>
        <div class="contaiener">
            <div class="row">
                <div class="col s10 offset-s2">
                    <h3>Oh no! Something wrong happened :(</h3>
                </div>
            </div>
        </div>
    </body>
</html>
